//Yet another SASS grid system
@import "compass/reset";

//Options
$numColumns : 12; 				//set the number of columns we want in our grid (default: 12)
$columnName : col;				//set the name of our grid class (default: col)
$fixedWidth : true;			  //use a fixed width for our container (default: true)
$fixedWidthValue : 1144; 	//set the value of the fixed width in px (default: 1144)
$gutterWidth : 20;				//set the size of our gutters (default: 20px)
$columnPadding: 10;				//set padding on columns (default: 20px)
$rowSpacing : 20;					//set the amount of space between rows (default: 20)
$unit : px;								//change what unit of measure we want to use (default: px)
$visibleGrid : true;			//display rows/columns for demo/mock purposes (default: false)

//options for converting to relative units
$baseFontSize : 16;				//default: 16

//necessary variables for initialization
$colWidth : 0;
$widthValue : 0;

//mixins
@mixin clearfix () {
	display: block;
  content: "";
  clear: both;
}

@function emCalc ($px, $base : $baseFontSize) {
	@return ($px / $base) * 1;
}

//do some unit conversion based on selected options
@if $fixedWidth {
	@if $unit == em {
		$widthValue : emCalc($fixedWidthValue);	
	} @else {
		$widthValue : $fixedWidthValue;
	}
	$colWidth : $widthValue / $numColumns;
} @else {
	$widthValue : 100;
	$colWidth : 100 / $numColumns;
	$unit: '%';
}

//change box model for grid elements
* { 
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box; 
}

//containers
.container {
	@if $fixedWidth {
		margin: 0 auto;
		width: #{$widthValue + $unit};
	}

	&:before, &:after {
		@include clearfix();
	}
}

//rows
.row {
	@if $unit == px {
		margin-bottom: #{$rowSpacing + $unit};
	}
	@if $unit == em {
		margin-bottom: #{emCalc($rowSpacing) + $unit};
	}

	&:before, &:after {
		@include clearfix();
	}
}


//columns
[class^=#{$columnName}-] {
	float: left;
	@if $unit == px {
		padding: #{$columnPadding + $unit};
	}
	@if $unit == em {
		padding: #{emCalc($columnPadding) + $unit};
	}

	@if $visibleGrid {
		background: #eee;
		span { font-family: monospace; }
	}
}

@for $i from 1 through $numColumns {
	.#{$columnName}-#{$i} {
		width: #{($colWidth * $i) + $unit};
	}
}
